$color-secondary: rgb(91, 15, 211);
$color-primary: tan;

.header {
  color: $color-secondary;
  
  background-color: $color-primary;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  
  
}



li {
  list-style-type: none;

}

a {
  text-decoration: none;
}